body {
    color: #FFFFFF;
    font-family: Roboto-Thin;
}


#wrap{
	position:fixed;
	z-index:-1; 
	top:0; 
	left:0; 
	background-color:black;

    min-width: 100%;
	min-height: 100%;

	background-size: cover;
}

#wrap img.bgfade{
	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1
}


html, body {
    height: auto;
}

a {
    color: #FFF;
    text-decoration: none;
}


/* social icon */

ul.menuSocial {
	margin-top: 40px;
}

ul.menuSocial li {
	list-style: none;
	float: left;
	font-size: 0;
	margin-right: 15px;
}


ul.menuSocial li a.facebook {
	background: url('../images/social.png') no-repeat -2px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.facebook:hover {
	background: url('../images/social.png') no-repeat -2px -22px;
}


ul.menuSocial li a.instagram {
	background: url('../images/social.png') no-repeat -22px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.instagram:hover {
	background: url('../images/social.png') no-repeat -22px -22px;
}


ul.menuSocial li a.twitter {
	background: url('../images/social.png') no-repeat -42px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.twitter:hover {
	background: url('../images/social.png') no-repeat -42px -22px;
}



ul.menuSocial li a.linkedIn {
	background: url('../images/social.png') no-repeat -62px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.linkedIn:hover {
	background: url('../images/social.png') no-repeat -62px -22px;
}


ul.menuSocial li a.google_plus {
	background: url('../images/social.png') no-repeat -82px -1px;
	display: block;
	width: 22px;
	height: 20px;
}

ul.menuSocial li a.google_plus:hover {
	background: url('../images/social.png') no-repeat -82px -22px;
}


ul.menuSocial li a.youTube {
	background: url('../images/social.png') no-repeat -106px -1px;
	display: block;
	width: 20px;
	height: 20px;

}

ul.menuSocial li a.youTube:hover {
	background: url('../images/social.png') no-repeat -106px -22px;
}


/* <!-- social icon --> */

#offer {
	font-family: Open Sans;
}

#offer h1, #offer h2, #offer h3 {
	text-align: left !important;
	margin: 0;
	
	padding: 0 !important;
	color: #ffffff;
}

#offer ul,
#offer ol {
	padding-left: 18px;
}

#offer em, #offer i {
    font-style: italic;
    line-height: inherit;
}
#offer p, #offer ul, #offer ol {
	margin-bottom: 10px;
	font-family: 'Roboto Slab', sans-serif;
}

p.nameFactory {
	font-family: 'Roboto Slab', sans-serif;
	margin: -10px 0 25px;
}

a:hover {
    text-decoration: underline;
}

.bgTop {
    background-image: url("../images/background.jpg") !important;

    background-position: center 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover;
	
	color: #FFFFFF;
}

h1 {
    font-family: Roboto-Thin;
    color: #f6a201;
    font-size: 60px;
    line-height: 54px;
    margin: 20px 0 120px;
    padding-top: 35px;
    text-transform: uppercase;
    width: 100%;
}

.large-12.content {
    background: url("../images/bg_trans.png") repeat;
    padding: 50px;
    margin-top: 50px;
	
	margin-bottom: 50px;
}

strong {
    font-weight: bold;
}

/* navi*/
nav {
    clear: both;
    overflow: hidden;
    Font-family: Roboto-Light;
    font-size: 12px;
}

nav ul {
    text-transform: uppercase;
}

nav ul li {
    border-bottom: 1px solid white;
    display: block;
    float: left;
    height: auto;
    min-height: 80px;
    text-decoration: none;
}




nav ul li:hover {
    border-bottom: 1px solid #F6A201;
    cursor: pointer;
    color: #F6A201;
}

nav ul li a {
    display: block;
    padding: 20px 34px 0;
    width: 172px;
	
	
	/* ex */
	height: 90px;
}

nav ul.offerFull li a {
	width: 143px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #F6A201;
}



/* <!-- navi --> */

hr.lineHeader {
    border-bottom: 1px solid #fff;
    border-right: none;
    border-top: none;
    border-left: none;
    float: left;
    width: 212px;
    margin-right: 25px;
}


hr.lineHeaderSmall {
    border-bottom: 1px solid #fff;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 212px;
    margin-right: 25px;
	display: none;
}


h2 {
    font-size: 24px;
  /*  margin: 85px 0 20px; */
    padding-bottom: 16px;
    text-align: center;
}

.borderLeft {
    border-left: 1px solid #FFFFFF;
    padding-left: 20px;
}

.row.v4 h2 {
	margin: 10px 0 20px;
}

.row.second {
    margin: 120px 0 0 0;
}

/*
p.header_column {
	font-size: 15px;
    line-height: 16px;
    padding-bottom: 35px;
    font-family: Roboto-Light;
    color: #ffa800;
    text-transform: uppercase;
	padding-bottom: 70px;
} */

p.header_column {
	font-size: 15px;
	line-height: 16px;
	padding-bottom: 35px;
	font-family: Roboto-Thin;
	color: #ffa800;
	text-transform: uppercase;
	padding-bottom: 70px;
}

.paddingLeftNone {
    padding-left: 0;
}

.center {
	text-align: center;
}


p.about_factory {
	font-size: 15px;
    Font-family: 'Roboto Slab', sans-serif;
    white-space: pre-wrap;
}

.fullSize {
	padding: 0;
}

/* --- */

.lineHeight {
    line-height: 27px;
}

p.Adress {
	font-size: 15px;
	margin-bottom: 12px;
    font-family: 'Roboto Slab', sans-serif;
	margin-bottom: 25px;
}

p.Adress span {
	font-size: 15px;
    color: #ffa800;
}

/* --- */

p.Phone,
p.Email,
p.Nip,
p.Facebook {
	font-size: 15px;
	margin-bottom: 8px;
    Font-family: 'Roboto Slab', sans-serif;
	margin-bottom: 25px;
}








p.Phone span {
	font-size: 15px;
    color: #ffa800;
}

p.Adress span {
    display: inline-table;
}

span.widthLeft {
	color: #ffffff !important;
}


span.newLine {
    display: block !important;
	text-align: left !important;
	color: #ffffff !important;
}

/* --- */

p.Email span {
	font-size: 15px;
    color: #ffa800;
}

/* --- */

p.Nip span{
	font-size: 15px;
    color: #ffa800;
}

/* --- */

p.Facebook span {
	font-size: 15px;
    color: #ffa800;
}

/* linki */


p.links1 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 220px;
	float: left;
	margin-right: 20px;
}

a.block4_Korespond {
	background: url("../images/dane-kontaktowe-ico.png") no-repeat scroll 14px 6px rgba(0, 0, 0, 0);
    color: #e4e4e9;
    display: block;
    font-size: 14px;
    padding: 9px 25px 9px 40px;
    text-decoration: none;
}

p.links2 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 190px;
	float: left;
}

a.block4_Form {
    color: #e4e4e9;
    display: block;
    font-size: 14px;
    padding: 9px 30px 9px 40px;
    text-decoration: none;
}


.korespond {
	margin: 85px 0;
}

.korespond img {
	margin-bottom: 22px;
}

.overflow {
    overflow: hidden;
    clear: both;
  /*  margin-top: 80px; */
	margin-top: -30px;
}

.activeNav a {
    color: #f6a201;
}

.activeNav {
	border-bottom: 1px solid #f6a201;
}


/* --- */

#mapFrame {
	width: 100%;
	height: 100%;
}

.borderWhite {
    border: 1px solid #ffffff;
    padding: 25px;
}

.maps {
	height: 400px;
    width: 100%;
}

.maps img { /* fundation google maps fix */
    max-width: none;
}

#googleMap {
	width: 100%;
	height: 100%;
}

.link_container {
	margin-top: 30px;
	overflow: hidden;
}

.gm-style-iw {
	color: black;	
}


/* PopUp */

span.name1,
span.name2,
span.name3 {
	font-size: 20px;
}

.fontLato {
	font-size: 20px;
}
.fontLato p {
	margin-bottom: 8px;
}


#adres-do-korespondencji-szczegoly {
	width: auto;
/*	margin: 100px auto; */
}

#adres-do-korespondencji-szczegoly .panel {
	margin-left: 20%;
}

p.addresImg {
    background: url('../images/korespo-ico.png')no-repeat  0 6px;
}

p.addresImg span {
    padding-left: 45px;
}


/* formularz */

.paddingLeft_Cancel {
	padding-left: 0;
}

#formularz-do-korespondencji-szczegoly {
  /*  max-width: 555px; */
}

/*
#captchaContainer pre {
    border: 1px solid #FFFFFF;
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 76%;
    margin: 0 1em 0 0;
}*/

#captchaContainer pre {
	border: 1px solid #FFFFFF;
	color: #c1c1c1;
	float: left;
	font-family: monospace;
	font-size: 10px;
	letter-spacing: -2px;
	line-height: 76%;
	margin: 0 1em 0 0;
	height: 55px;
}




#captcha-input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    height: 54px;
    text-align: center;
    width: 86px;
}


.textInput, #captcha-input, textarea {
    color: rgba(167, 167, 167, 0.9);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-left: 1em;
    padding-right: 1em;
}


form {
    width: 70%;
}

/*
.textInput, #captcha-input, textarea {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9em;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    margin-bottom: 20px;
} */

.textInput, #captcha-input, textarea {
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.9em;
	font-family: 'Roboto Slab', sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 20px;
}



/*
.textInput {
    background: none;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 40px;
} */

.textInput {
	background: none;
	border: 1px solid #FFFFFF;
	width: 100%;
	height: 40px;
}


textarea {
    background: none;
    resize: none; 
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 180px;
    padding: 1em;
}

#captcha-input {
    background: none;
    border: 1px solid #FFFFFFF;
    width: 86px;
    height: 55px;
    text-align: center;
}

#captchaContainer img {
    opacity: 0.6;
    float: left;
    margin: 0 1em 0 0;
}

.pnlSend .large-8.medium-8.columns,
.pnlSend .large-4.medium-4.columns {
    margin-top: 0px;
}

.pnlSend p {
	font-size: 20px;
	padding-top: 14px;
}

.pnlSend p span {
	font-size: 20px;
	padding-right: 10px;
}

.second {
   /* margin-left: 17px;  */
}


.halfSize {
	width: 600px !important;
	margin: 0 auto !important;
}


.pnlSend {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.pnlSend .large-12 {
	padding-left: 0;
}

/*
#send {
    background-color: #ffcc00;
    background-color: #ffcc00;
    border: medium none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    height: 40px;
    margin-bottom: 20px;
    width: 145px;
	cursor: pointer;
	float: right;
    margin-bottom: 10px;
    margin-top: 6px;
} */

#send {
	background:url('../images/btn_send_bg.png') no-repeat;
	border: medium none;
	color: black;
	cursor: pointer;
	font-size: 17px;
	height: 40px;
	margin-bottom: 20px;
	width: 145px;
	cursor: pointer;
	float: right;
	margin-bottom: 10px;
	margin-top: 6px;
	font-family: 'Roboto Slab', sans-serif;
    text-transform: capitalize;
}


ul.errors {
    clear: both;
    list-style: none;
    margin: -0.5em 0 1em 0;
    color: #BF303C;
    font-size: 0.9em;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
}


.buttonSend {
	border: none;
	background-color: #FFCC00;
	color: black;
	cursor: pointer;
	font-size: 17px;
	margin-bottom: 20px;
	width: 145px;
	height: 40px;
}

form {
	
}

a:hover {
	color: #ffa800;
	text-decoration: none;
}


.row .row {
	margin: 0 auto;
}

/* media queries */


@media screen and (max-width: 966px) {

	nav ul li {
		float: none;
		display: table-row;
	}
	
	h1 {
		margin: 0 0 35px !important;
	}
	
	nav {
		font-size: 16px;
	}
	
	nav ul li a {
		padding: 2px 0;
		height: auto;
		width: 300px;
	}

}


@media screen and (max-width: 960px) {

	#adres-do-korespondencji-szczegoly .panel {
		margin-left: 10%;
	}

}


@media screen and (max-width: 950px) {
    #formularz-do-korespondencji-szczegoly {
        width: 100%;
    }

}

@media screen and (max-width: 790px) {
	form {
		width: 100%;
	}
}

@media screen and (max-width: 650px) { 

	.paddingLeft_Cancel {
		padding-left: 0.9375em;
	}

    .borderLeft,
    h1 {
        border-left: none;
    }
  

}


@media screen and (max-width: 640px) {

/* widoczność lini nad naszej lokalizacji */
	hr.redLine {
		display: block;
		border: 2px solid #BF303C;
		width: 75px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin: 0 0 30px;
	}

    .buttonSend {
        float: left;
    }
	
	.maps {
		height: 500px;
	}

    .txtcapcha {
        float: left;
    }
	
	.halfSize {
		width: 100% !important;
	}
	
	.korespond {
		margin-bottom: 65px;
	}
	
	.fontLato.korespond {
		margin: 0 0 100px;
	}

     .marginTop {
        margin-top: 80px;
    }

    .paddingLeftNoneSecond {
        padding-left: 0;
    }
	
	h1 {
		margin: 20px 0 80px;
	}	
	
	hr.lineHeader {
		display: none;
	}
	
	hr.lineHeaderSmall {
		display: block;
		margin: -5px 0 70px;
	}
	
	p.header_column {
		padding-bottom: 15px;
	}
	
}


@media screen and (max-width: 548px) {
  
	.content {
		padding: 50px 20px !important;
	}
	
}

@media screen and (max-width: 487px) { 
	#send {
		display: block;
		margin: 0 auto;
		float: none;
		clear: both;
	}
	
	.right {
		float: none !important;
	}
}



@media screen and (max-width: 476px) {
  
	p.links2 {
		margin-top: 20px;
	}

    h1 {
        font-size: 40px;
    }
	
}


@media screen and (max-width: 452px) {

    .buttonSend {
            float: right;
    }

}


@media screen and (max-width: 345px) {

	#captcha-input {
		margin-top: 10px;
	}
 
}





