body {
	margin-bottom: 50px;
	background-color: #161616;
}

html, body {
    height: auto;
}

a {
    color: #A5A5A5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
	font-weight: bold;
}

img.all {
	left: 0;
    position: fixed;
    height: 100%;
	width: 100%;
}

.bg {
	margin: 62px auto 0;
}

h1 {
    color: #a0a0a0;
    font-family: Lato-Thin;
    font-size: 44px;
    font-weight: normal;
    line-height: 42px;
    padding-bottom: 22px;
    text-transform: uppercase;
}

h2 {
	color: #ffffff;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0 20px;
    padding-bottom: 16px;
    text-align: center;
}

.row.v4 h2 {
	margin: 10px 0 20px;
}


p.header_column {
	font-size: 26px;
	font-family: Lato-Regular;
	padding-bottom: 16px;
	color: #FFFFFF;
	
	padding: 60px 20px 20px;
	margin-bottom: 0 !important;
}

.center {
	text-align: center;
}

.large-8,
.large-4 {
	margin-top: 50px;
}


p.about_factory {
	font-size: 18px;
	font-family: Lato-Light;
/*	height: 352px; */
	padding: 0 20px;
    color:#A5A5A5;
    /*overflow-x: auto;*/
	white-space: pre-wrap;
	/* eksperymenty */
/*	width: 378px; */
}

.fullSize {
	padding: 0;
}

/* --- */
.contentSlider p {
    font-family: Lato-Light;
	margin-bottom: 26px;
    margin-left: 20px;
    padding-left: 22px;
}

.marginBottom {
    margin-bottom: 5px !important;
}

span.name1 {
    background: url("../images/adres-ico2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 28px;
    color: #d5d5d5;
	font-family: Lato-Regular;
}

p.paddingLeft {
    padding-left: 96px;
}

span.name3 {
    background: url("../images/call-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 28px;
    color: #d5d5d5;
	font-family: Lato-Regular;
}

p.Adress {
    background: url("../images/adres-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 16px;
	font-family: Lato-Light;
	margin-bottom: 26px;
    margin-left: 46px;
    padding-left: 28px;
}

p.Adress span {
    display: inline-table;
	font-size: 16px;
	font-family: Lato-Regular;
    color: #d5d5d5;
	
	text-align: left;
}

span.newLine {
    display: block !important;
    font-family: Lato-Light !important;
    padding-left: 3px;
}


#offer {
	font-family: Lato-Thin;
}

#offer h1, #offer h2, #offer h3 {
	text-align: left;
	margin: 0;
	padding-left: 40px;
}

#offer ul,
#offer ol {
	padding-left: 58px;
	margin-bottom: 26px;
}


#offer em, #offer i {
    font-style: italic;
    line-height: inherit;
}
#offer p {
	font-family: "Lato-Light";
	padding-right: 20px;
}

/* --- */

p.Phone,
p.Email,
p.Nip,
p.Facebook {
	font-size: 16px;
	font-family: Lato-Light;
	margin-bottom: 26px;
    margin-left: 46px;
    padding-left: 28px;
}

p.Phone {
    background: url("../images/call-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


p.Phone span {
	font-size: 16px;
	font-family: Lato-Regular;
    color: #d5d5d5;
}

p.Email {
    background: url("../images/majl-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #A5A5A5;
}

p.Nip {
    background: url("../images/nip-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

p.Facebook {
    background: url("../images/link-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


/* --- */

p.Email span {
	font-size: 16px;
	font-family: Lato-Regular;
    color: #d5d5d5;
}

/* --- */

p.Nip span{
	font-size: 16px;
	font-family: Lato-Regular;
    color: #d5d5d5;
}

/* --- */

p.Facebook span {
	font-size: 16px;
	font-family: Lato-Regular;
    color: #d5d5d5;
}

img.imagesFacebook {
	position: relative;
    top: 4px;
}

.widthLeft {
	font-weight: normal !important;
}

/* linki */


p.links1 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 220px;
	float: left;
	margin-right: 20px;
}

a.block4_Korespond {
	background: url("../images/dane-kontaktowe-ico.png") no-repeat scroll 14px 6px rgba(0, 0, 0, 0);
    color: #e4e4e9;
    display: block;
    font-family: Lato-Light;
    font-size: 14px;
    padding: 9px 25px 9px 40px;
    text-decoration: none;
}

p.links2 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 190px;
	float: left;
}

a.block4_Form {
    color: #e4e4e9;
    display: block;
    font-family: Lato-Light;
    font-size: 14px;
    padding: 9px 30px 9px 40px;
    text-decoration: none;
}

#captchaContainer pre {
    border: 1px solid #4A4A4A;
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 76%;
    margin: 0 1em 0 0;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	
	height:54px;
}

#captcha-input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4A4A4A;
    height: 54px;
    color: #c1c1c1;
    text-align: center;
    width: 86px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}



.korespond {
	margin: 85px 0;
}

.korespond img {
	margin-bottom: 22px;
}


/* --- */


#mapFrame {
	width: 100%;
	height: 100%;
}

.maps {
	height: 440px;
    width: 100% !important;
	overflow: hidden;
}
.maps img { /* fundation google maps fix */
    max-width: none;
}

#googleMap {
	width: 100%;
	height: 100%;
}

.link_container {
	margin-top: 30px;
	overflow: hidden;
}

.gm-style-iw {
	color: black;	
}


/* Slider */

.horizontal {
	float: left;
}

.vertical {
	clear: both;
}

.slider {
	margin-top: 38px;
}

.contentSlider {
	color: #CACACA;
	/* padding: 50px 20px 0 130px; */
	background-color: #2E2E2E;
	border-right: 6px solid #161616;
	float: left;
	height: 440px;
	width: 480px; 
	
	overflow-x: auto;
}

.contentSlider.paddingNone {
/*	padding: 0 0 0 100px; */
}


.slide1 {
/*	background: rgba(122,18,41,1);
	background: -moz-linear-gradient(left, rgba(122,18,41,1) 0%, rgba(128,20,31,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122,18,41,1)), color-stop(100%, rgba(128,20,31,1)));
	background: -webkit-linear-gradient(left, rgba(122,18,41,1) 0%, rgba(128,20,31,1) 100%);
	background: -o-linear-gradient(left, rgba(122,18,41,1) 0%, rgba(128,20,31,1) 100%);
	background: -ms-linear-gradient(left, rgba(122,18,41,1) 0%, rgba(128,20,31,1) 100%);
	background: linear-gradient(to right, rgba(122,18,41,1) 0%, rgba(128,20,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1229', endColorstr='#80141f', GradientType=1 ); */
	
	background-color: #D92B2B;
	
	float: left;
	width: 82px;
	height: 440px;
}

/* vertical */

.step {
	float: left;
	overflow: hidden;
}


.step.vertical .slide1 {
    float: left;
    height: 100px;
    width: 100%;
}

.step.vertical .headerSlider.slide1 span {
    bottom: -36px;
    color: #ffffff;
    display: block;
    font-family: Lato-Light;
    font-size: 18px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
	transform: none;
}

/* -- vertical -- */


.slide2 {
/*	background: rgba(137,25,42,1);
	background: -moz-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,25,42,1)), color-stop(100%, rgba(142,27,34,1)));
	background: -webkit-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -o-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -ms-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: linear-gradient(to right, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89192a', endColorstr='#8e1b22', GradientType=1 ); */
	
	background-color: #F17629;
	
	
	float: left;
	width: 82px;
	height: 440px;
}

.slide3 {
/*	background: rgba(151,29,45,1);
	background: -moz-linear-gradient(left, rgba(151,29,45,1) 0%, rgba(160,32,32,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(151,29,45,1)), color-stop(100%, rgba(160,32,32,1)));
	background: -webkit-linear-gradient(left, rgba(151,29,45,1) 0%, rgba(160,32,32,1) 100%);
	background: -o-linear-gradient(left, rgba(151,29,45,1) 0%, rgba(160,32,32,1) 100%);
	background: -ms-linear-gradient(left, rgba(151,29,45,1) 0%, rgba(160,32,32,1) 100%);
	background: linear-gradient(to right, rgba(151,29,45,1) 0%, rgba(160,32,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#971d2d', endColorstr='#a02020', GradientType=1 ); */
	
	background-color: #F3882A;
	
	float: left;
	width: 82px;
	height: 440px;
}


p.marginBottom {
	color: #cacaca;
}

.slide4 {
/*	background: rgba(165,40,53,1);
	background: -moz-linear-gradient(left, rgba(165,40,53,1) 0%, rgba(169,43,43,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165,40,53,1)), color-stop(100%, rgba(169,43,43,1)));
	background: -webkit-linear-gradient(left, rgba(165,40,53,1) 0%, rgba(169,43,43,1) 100%);
	background: -o-linear-gradient(left, rgba(165,40,53,1) 0%, rgba(169,43,43,1) 100%);
	background: -ms-linear-gradient(left, rgba(165,40,53,1) 0%, rgba(169,43,43,1) 100%);
	background: linear-gradient(to right, rgba(165,40,53,1) 0%, rgba(169,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52835', endColorstr='#a92b2b', GradientType=1 ); */
	
	background-color: #F3A71D;
	
	float: left;
	width: 82px;
	height: 440px;
}

.slide5 {
/*	background: rgba(176,52,60,1);
	background: -moz-linear-gradient(left, rgba(176,52,60,1) 0%, rgba(178,55,59,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176,52,60,1)), color-stop(100%, rgba(178,55,59,1)));
	background: -webkit-linear-gradient(left, rgba(176,52,60,1) 0%, rgba(178,55,59,1) 100%);
	background: -o-linear-gradient(left, rgba(176,52,60,1) 0%, rgba(178,55,59,1) 100%);
	background: -ms-linear-gradient(left, rgba(176,52,60,1) 0%, rgba(178,55,59,1) 100%);
	background: linear-gradient(to right, rgba(176,52,60,1) 0%, rgba(178,55,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0343c', endColorstr='#b2373b', GradientType=1 ); */
	
	background-color: #F1C71D;
	
	float: left;
	width: 82px;
	height: 440px;
}

.slide6 {
/*	background: rgba(137,25,42,1);
	background: -moz-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,25,42,1)), color-stop(100%, rgba(142,27,34,1)));
	background: -webkit-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -o-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: -ms-linear-gradient(left, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	background: linear-gradient(to right, rgba(137,25,42,1) 0%, rgba(142,27,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89192a', endColorstr='#8e1b22', GradientType=1 ); */
	
	background-color: #F2522E;
	
	
	float: left;
	width: 82px;
	height: 440px;
}



.headerSlider {
	cursor: pointer;
}

.headerSlider.slide5 .header_column {
    margin-left: 4px;
}

.slid1 {
	padding-left: 20px !important;
}

.headerSlider span {
    position: relative;
	display: block;
    bottom: -295px;
	font-family: Lato-Light;
	font-size: 20px;
	color: #FFFFFF;
	white-space: nowrap;
	
	

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
    -sand-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}



/* formularz */

#formularz-do-korespondencji-szczegoly {
    max-width: 555px;
}

/*
.textInput, #captcha-input, textarea {
    color: rgba(167, 167, 167, 0.9);
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    margin-bottom: 20px;
} */

.textInput, #captcha-input, textarea {
	color: rgba(167, 167, 167, 0.9);
	font-size: 0.9em;
	font-family: Lato-Regular;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 20px;
}

/*
.textInput {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4a4a4a;
    height: 45px;
    width: 100%;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
} */

.textInput {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #4a4a4a;
	height: 45px;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-family: Lato-Regular;
}


textarea {
    background: none;
    resize: none; 
    border: 1px solid #4a4a4a;
    width: 100%;
    height: 120px;
    padding: 1em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#captcha-input {
    background: none;
    width: 86px;
    height: 54px;
    text-align: center;
}

#captchaContainer img {
    opacity: 0.6;
    float: left;
    margin: 0 1em 0 0;
}

.pnlSend .large-8.medium-8.columns,
.pnlSend .large-4.medium-4.columns {
    margin-top: 0px;
}

.pnlSend p {
	font-family: Lato-Regular;
	font-size: 20px;
	padding-top: 14px;
}

.pnlSend p span {
	font-family: Lato-Light;
	font-size: 20px;
	padding-right: 10px;
}

.second {
   /* margin-left: 17px;  */
}


.halfSize {
	width: 600px !important;
	margin: 0 auto !important;
}


#formularz-do-korespondencji-szczegoly p {
    float: left;
}

.pnlSend {
    width: 100%;
    clear: both;
    overflow: hidden;
}

/*
#send {
    background: url("../images/arrow_contactform.png") no-repeat scroll 72px 14px #b1363b;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-family: Lato-Regular;
    font-size: 14px;
    height: 38px;
    padding-left: 12px;
    text-align: left;
    width: 102px;
	margin-bottom: 10px;
}
*/

#send {
	background: url('../images/btn_send_bg.png'), no-repeat;
	border: medium none;
	color: #ffffff;
	cursor: pointer;
	font-family: Lato-Regular;
	font-size: 14px;
	height: 38px;
	padding-left: 12px;
	text-align: left;
	width: 102px;
	margin-bottom: 10px;
    text-transform: uppercase;
}

ul.errors {
    clear: both;
    list-style: none;
    margin: -1em 0 0.2em;
    color: #BF303C;
    font-size: 0.9em;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
}


.buttonSend {
	border: none;
	background: #B1363B url('../images/arrow_contactform.png') no-repeat 72px 14px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Lato-Regular;
	font-size: 14px;
	text-align: left;
	padding-left: 12px;
	width: 102px;
	height: 38px;
}

form {
	margin-left: 20px;
}

.input1 {

}

.input2 {
  /*  width: 95%; */
}

.input3 {
    /* width: 98%; */
}

.input4 {
   /* width: 98%; */
}



/* arrow */
.arrowSpan {
	background: url(../images/arrow.png) no-repeat;
	bottom: -350px !important;
    left: 30px !important;
    transform: rotate(0deg) !important;
	-moz-transition:0.5s all;
    -webkit-transition:0.5s all;
	-ms-transition: 0.5s all;
	width: 25px;
	height: 25px;
	
}

.active .arrowSpan {
	transform: rotate(180deg) !important;
	bottom: -350px !important;
    left: 30px !important; 
	-moz-transition:0.5s all;
    -webkit-transition:0.5s all;
	-ms-transition: 0.5s all;
}



/* social icon */

ul.menuSocial {
    margin-left: 50px;
}

ul.menuSocial li {
	list-style: none;
	float: left;
	font-size: 0;
	margin-right: 15px;
}


ul.menuSocial li a.facebook {
	background: url('../images/social.png') no-repeat -2px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.facebook:hover {
	background: url('../images/social.png') no-repeat -2px -22px;
}


ul.menuSocial li a.instagram {
	background: url('../images/social.png') no-repeat -22px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.instagram:hover {
	background: url('../images/social.png') no-repeat -22px -22px;
}


ul.menuSocial li a.twitter {
	background: url('../images/social.png') no-repeat -42px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.twitter:hover {
	background: url('../images/social.png') no-repeat -42px -22px;
}



ul.menuSocial li a.linkedIn {
	background: url('../images/social.png') no-repeat -62px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.linkedIn:hover {
	background: url('../images/social.png') no-repeat -62px -22px;
}


ul.menuSocial li a.google_plus {
	background: url('../images/social.png') no-repeat -82px -1px;
	display: block;
	width: 22px;
	height: 20px;
}

ul.menuSocial li a.google_plus:hover {
	background: url('../images/social.png') no-repeat -82px -22px;
}


ul.menuSocial li a.youTube {
	background: url('../images/social.png') no-repeat -106px -1px;
	display: block;
	width: 20px;
	height: 20px;

}

ul.menuSocial li a.youTube:hover {
	background: url('../images/social.png') no-repeat -106px -22px;
}


/* <!-- social icon --> */






/* media queries */

@media screen and (max-width: 1026px) {

	.step,
	.slide1,
	.slide2,
	.slide3,
	.slide4,
	.slide5,
	.slide6	{
		float: none !important;
	}

    .contentSlider.s2 p {
	    padding-left: 20px !important;
    }

    .s2 p.Adress,
    .s2 p.Phone,
    .s2 p.Email,
    .s2 p.Nip,
    .s2 p.Facebook {
        margin-left: 20px !important;
    }

    .s2 p.Adress span,
    .s2 p.Phone span,
    .s2 p.Phone span, 
    .s2 p.Email span,
    .s2 p.Nip span,
    .s2 p.Facebook span {
        padding-left: 10px !important;
    }
	
	
	#adres-do-korespondencji-szczegoly .panel {
		margin-left: 10%;
	}
	
	
	#formularz-do-korespondencji-szczegoly {
        width: 80%;
    }
	
	.step .slide1,
	.step .slide2,
	.step .slide3,
	.step .slide4,
	.step .slide5,
	.step .slide6 {
		float: left;
		height: 100px;
		width: 100%;
	}

	.step .headerSlider.slide1 span,
	.step .headerSlider.slide2 span,
	.step .headerSlider.slide3 span,
	.step .headerSlider.slide4 span,
	.step .headerSlider.slide5 span,
	.step .headerSlider.slide6 span	{
		bottom: -36px;
		color: #ffffff;
		display: block;
		font-family: Lato-Light;
		font-size: 18px;
		padding-left: 20px;
		position: relative;
		white-space: nowrap;
		transform: none;
	}

    .contentSlider {
        /*	padding: 50px 20px; */
        padding: 0;
        min-width: 100%;
        border-bottom: 6px solid #161616;
		border-right: none;
        height: auto;
        width: 100% !important;
    }
    
    p.header_column {
        padding-top: 60px;
    }

    .contentSlider p {
        margin-left: 0 !important;
    }
	
	p.about_factory {
		width: 100%;
        height: auto;
        padding: 0 20px 80px;
	}
	
	.maps {
		clear: both;
	}
	
	
	.arrowSpan {
		bottom: -12px !important;
		left: 93% !important;
		transform: rotate(90deg) !important;
	}
	
	.active .arrowSpan {
		background: url(../images/arrow.png) no-repeat;
		bottom: -12px !important;
		left: 93% !important;
		transform: rotate(270deg) !important;
		-moz-transition:0.5s all;
		-webkit-transition:0.5s all;
		-ms-transition: 0.5s all;
		width: 26px;
		height: 27px;
	}
	
	ul.menuSocial {
		margin-bottom: 50px;
		margin-left: 19px;
		overflow: hidden;
	}
	
}

@media screen and (max-width: 640px) {

/* widoczność lini nad naszej lokalizacji */
	hr.redLine {
		display: block;
		border: 2px solid #BF303C;
		width: 75px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin: 0 0 30px;
	}

    .buttonSend {
        float: left;
    }
	
	.maps {
		height: 500px;
	}

    .txtcapcha {
        float: left;
    }
	
	.halfSize {
		width: 100% !important;
	}
	
	.korespond {
		margin-bottom: 65px;
	}
	
	.fontLato.korespond {
		margin: 0 0 100px;
	}
	
}


@media screen and (max-width: 476px) {
  
	p.links2 {
		margin-top: 20px;
	}
	
	
	.arrowSpan {
		left: 86% !important;
	}
	
	.active .arrowSpan {
		left: 86% !important;
	}
	
}


@media screen and (max-width: 452px) {

    .buttonSend {
        float: right;
    }

}

@media screen and (max-width: 345px) {

	#captcha-input {
		margin-top: 10px;
	}
 
}

@media screen and (max-width: 492px) { 
	#send {
		display: block;
		margin: 0 auto;
		float: none;
		margin-bottom: 20px;
		clear: both;
		
	}
	
	.right {
		float: none !important;
	}
}

@media screen and (min-width:350px){
	.left {
		float: left !important;
	}
}

