body {
    color: #2D2D2D;
	margin-bottom: 50px;
	background-repeat:no-repeat;
	
	background-image: url('../images/bg_full.jpg'); 
    background-position: 44% 0;
	height:100%;

}

html, body {
    height: auto;
}

a {
    color: #2D2D2D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
	font-weight: bold;
}

/* social icon */

ul.menuSocial {
	margin-top: 30px;
}

ul.menuSocial li {
	list-style: none;
	float: left;
	font-size: 0;
	margin-right: 15px;
}


ul.menuSocial li a.facebook {
	background: url('../images/social.png') no-repeat -2px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.facebook:hover {
	background: url('../images/social.png') no-repeat -2px -22px;
}


ul.menuSocial li a.instagram {
	background: url('../images/social.png') no-repeat -22px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.instagram:hover {
	background: url('../images/social.png') no-repeat -22px -22px;
}


ul.menuSocial li a.twitter {
	background: url('../images/social.png') no-repeat -42px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.twitter:hover {
	background: url('../images/social.png') no-repeat -42px -22px;
}



ul.menuSocial li a.linkedIn {
	background: url('../images/social.png') no-repeat -62px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.linkedIn:hover {
	background: url('../images/social.png') no-repeat -62px -22px;
}


ul.menuSocial li a.google_plus {
	background: url('../images/social.png') no-repeat -82px -1px;
	display: block;
	width: 22px;
	height: 20px;
}

ul.menuSocial li a.google_plus:hover {
	background: url('../images/social.png') no-repeat -82px -22px;
}


ul.menuSocial li a.youTube {
	background: url('../images/social.png') no-repeat -106px -1px;
	display: block;
	width: 20px;
	height: 20px;

}

ul.menuSocial li a.youTube:hover {
	background: url('../images/social.png') no-repeat -106px -22px;
}


/* <!-- social icon --> */



#offer {
	color: #1e1e1e;
	font-family: Open Sans;
}

#offer h1, #offer h2, #offer h3 {
	text-align: left !important;
	margin: 0 !important;
	
	padding: 0 !important;
	color: #1F1F1F;
}

#offer ul,
#offer ol {
	padding-left: 18px;
	font-family: Lato-Regular;
	margin-bottom: 10px;
}

#offer em, #offer i {
    font-style: italic;
    line-height: inherit;
}
#offer p {
	margin-bottom: 10px;
	font-family: Lato-Regular;
}
#offer p.header_column {
	margin-bottom: 0;
}



.bgTop {
    background-image: url("../images/background.jpg") !important;

    background-position: center 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover;
	
	color: #FFFFFF;
}

hr.blackLine_default {
    border-color: #333333 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px medium medium;
    float: none;
    margin: 40px auto 45px;
    width: 100%;
}


/*.navigation {
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:right center;
	
	background-image: url('../images/bg_blue.jpg');
	
	
	height: 900px;
}

.content {
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	
	background-position:left center;
	background-image: url('../images/bg_white.jpg'); 

}*/

.navblock{
	height:400px;
	display:block;
}

/*
nav{
	width:100%;
	height:100%;
	display:block;
	font-family: 'Lato-Regular', sans-serif;
}*/

nav
{ width: 80%; height: 100%; display: block; font-family: 'Lato-Regular', sans-serif; } 


nav ul{
	width:100%;
	display:block;
	padding-top:216px;
}

nav ul{
	list-style:none;
}

nav ul li{
	margin:10px 0 10px 0;
}

/*
nav ul a{
	list-style:disk;
	color:#000;
	background:url('../images/circle_open.png') no-repeat;
	background-position:0 6px;
	padding-left:25px;
}
*/

nav ul a
{ color:#000; background:url('../images/circle_open.png') no-repeat; background-position:0 6px; padding-left:25px; display:block; }





nav ul .active-page, nav ul a:hover{
	color:#fff;
	text-decoration:none;
	background:url('../images/circle_closed.png') no-repeat;
	background-position:0 6px;
	padding-left:25px;
}

/* sections */

.content{
	overflow:hidden;
}


h1 {
	color: #53bced;
    font-family: Lato-Regular;
    font-size: 36px;
    padding-top: 42px;
}

h2 {
	color: #53BCED;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0 20px;
    padding-bottom: 16px;
    text-align: center;
}

.row.v4 h2 {
	margin: 10px 0 20px;
}


p.header_column {
	font-size: 28px;
	font-family: Lato-Regular;
	padding-bottom: 16px;
	color: #333333;
}

.center {
	text-align: center;
}


p.about_factory {
	font-size: 16;
	font-family: Lato-Regular;
	padding-bottom: 70px;
    white-space: pre-wrap;
}

.fullSize {
	padding: 0;
}

/* --- */

p.Center-name,
p.Adress,
p.Phone,
p.Email,
p.Nip,
p.Facebook,
p.post-adress,
p.second-phone {
	font-size: 16px;
	font-family: Lato-Regular;
	margin-bottom: 20px;
}

img.imagesFacebook {
	position: relative;
    top: 4px;
}




p.Adress span {
    display: inline-table;
    overflow: hidden;
}

span.widthLeft {

}


span.newLine {
    display: block !important;
	text-align: left !important;
}




/* linki */


p.links1 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 220px;
	float: left;
	margin-right: 20px;
}

a.block4_Korespond {
	background: url("../images/dane-kontaktowe-ico.png") no-repeat scroll 14px 6px rgba(0, 0, 0, 0);
    color: #e4e4e9;
    display: block;
    font-family: Lato-Light;
    font-size: 14px;
    padding: 9px 25px 9px 40px;
    text-decoration: none;
}

p.links2 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 190px;
	float: left;
}

a.block4_Form {
    color: #e4e4e9;
    display: block;
    font-family: Lato-Light;
    font-size: 14px;
    padding: 9px 30px 9px 40px;
    text-decoration: none;
}


.korespond {
	margin: 85px 0;
}

.korespond img {
	margin-bottom: 22px;
}


/* --- */

#mapFrame {
	width: 100%;
	height: 100%;
}

.maps {
	height: 360px;
    width: 100%;
	margin-top: 22px;
	
	border: 1px solid #333333;
}
.maps img { /* fundation google maps fix */
    max-width: none;
}

#googleMap {
	width: 100%;
	height: 100%;
}

.link_container {
	margin-top: 30px;
	overflow: hidden;
}

.gm-style-iw {
	color: black;	
}


/* PopUp */

span.name1,
span.name2,
span.name3 {
	font-family: Lato-Regular;
	font-size: 20px;
}

.fontLato {
	font-family: Lato-Light;
	font-size: 20px;
}
.fontLato p {
	margin-bottom: 8px;
}


#adres-do-korespondencji-szczegoly {
	width: auto;
/*	margin: 100px auto; */
}

#adres-do-korespondencji-szczegoly .panel {
	margin-left: 20%;
}

p.addresImg {
    background: url('../images/korespo-ico.png')no-repeat  0 6px;
}

p.addresImg span {
    padding-left: 45px;
}


/* formularz */

.paddingLeft_Cancel {
	padding-left: 0;
}

#formularz-do-korespondencji-szczegoly {
  /*  max-width: 555px; */
}

.textInput, #captcha-input, textarea {
    color: rgba(167, 167, 167, 0.9);
    font-size: 0.9em;
    font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 20px;
}

/*
#captchaContainer pre {
    border: 1px solid #c2c2c2;
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 76%;
    margin: 0 1em 0 0;
	padding: 0 2em;
	
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
*/

#captchaContainer pre {
	border: 1px solid #c2c2c2;
	color: #c1c1c1;
	float: left;
	font-family: monospace;
	font-size: 10px;
	letter-spacing: -2px;
	line-height: 76%;
	margin: 0 1em 0 0;
	padding: 0 2em;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 54px;
}




.textInput {
    background: none;
    border: 1px solid #C2C2C2;
    width: 100%;
    height: 54px;
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.txtcapcha {
    background: none;
    border: 1px solid #C2C2C2;
    height: 54px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin:13px 20px 13px 5px;
	display:block;
	float:left;
	padding:0 20px 0 20px;
	font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
	text-align: center;
}

textarea {
    background: none;
    resize: none; 
    border: 1px solid #C2C2C2;
    width: 100%;
    height: 202px;
    padding: 1em;
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

#captcha-input {
    background: none;
    border: 1px solid #C2C2C2;
    width: 86px;
    height: 54px;
    text-align: center;
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

#captchaContainer img {
    opacity: 0.6;
    float: left;
    margin: 0 1em 0 0;
}

.pnlSend .large-8.medium-8.columns,
.pnlSend .large-4.medium-4.columns {
    margin-top: 0px;
}

.pnlSend p {
	font-family: Lato-Regular;
	font-size: 20px;
	padding-top: 14px;
}

.pnlSend p span {
	font-family: Lato-Light;
	font-size: 20px;
	padding-right: 10px;
}

.second {
   /* margin-left: 17px;  */
}


.halfSize {
	width: 600px !important;
	margin: 0 auto !important;
}


#formularz-do-korespondencji-szczegoly p {
   /* float: left; */
   padding-left: 20px;
}

.pnlSend {
    width: 100%;
    clear: both;
    overflow: hidden;
}


/*
#send {
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: none;
	padding: 9px 30px 9px 30px;
	cursor: pointer;
	float: right;
	background-color: #53bced;
    color: #ffffff;
    display: block;
    font-family: Lato-Regular;
    font-size: 18px;
    height: 54px;
    padding: 0;
    width: 145px;
	
}
*/



#send {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: none;
	padding: 9px 30px 9px 30px;
	cursor: pointer;
	float: right;
	background:url('../images/btn_send_bg.png') no-repeat;
	color: #000000;
	display: block;
	font-family: Lato-Regular, sans-serif;
	font-size: 18px;
	height: 54px;
	padding: 0;
	width: 145px;
    text-transform: capitalize;
}








ul.errors {
    clear: both;
    list-style: none;
    margin: -0.5em 0 1em 0;
    color: #BF303C;
    font-size: 0.9em;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
}


.buttonSend {

	-webkit-border-radius: 50px;
	-moz-border-radius:    50px;
	border-radius:         50px;
	
	border: none;
	background-color: #53bced;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Lato-Regular;
	font-size: 18px;
	width: 145px;
	height: 54px;
	padding:0;
	display:block;
	float:left;
	margin:13px 0 13px 0;
}

.capcha-field{
	width:130px;
	height:80px;
	float:left;
	background:#fff;
	margin:0;
}

.anty-bot{
	min-height:80px;
	display:block;
	overflow:hidden;
}

form {
	
}

/* section content */

.section-content{
	display:none;
}


/* mobile nav */

#mobile-navigation{
	display:none;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height:60px;
	background:#53bced;
	padding: 0 15px 0 15px;
	z-index:9999;
	overflow:hidden;
	position:fixed;
}

#mobile-navigation .burger{
	width:44px;
	height:32px;
	display:block;
	overflow:hidden;
	margin:13px 0 15px 0;
	cursor:pointer;
}

#mobile-navigation .burger .part{
	width:44px;
	height:4px;
	display:block;
	background:#333;
	overflow:hidden;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-bottom:10px;
}

#mobile-navigation .menu-list{
	width:100%;
	height:auto;
	display:block;
	overflow: hidden;
}

#mobile-navigation .menu-list ul{
	list-style:none;
	font-family:'Lato-Regular', sans-serif;
	font-size:20px;
}

#mobile-navigation .menu-list ul li{
	padding:10px 0 10px 0;
}

#mobile-navigation .menu-list ul li:last-child{
	padding: 10px 0 30px 0;
}

#mobile-navigation .menu-list ul li a{
	color:#000;
}

#mobile-navigation .menu-list ul li a:hover, #mobile-navigation .menu-list ul li a.active-page{
	color:#fff;
	text-decoration:none;
}

/* media queries */


@media screen and (max-width: 1300px) { 
 
    body {
        background-position: 46% 0;
    }

}

@media screen and (max-width: 960px) {

	#adres-do-korespondencji-szczegoly .panel {
		margin-left: 10%;
	}

}


@media screen and (max-width: 950px) {
  /*  #formularz-do-korespondencji-szczegoly {
        width: 80%;
    } */

}

@media screen and (max-width: 820px) {
    body {
        background-position: 42% 0;
    }

}


@media screen and (max-width: 695px) {
    body {
        background-position: 40% 0;
    }
}

@media screen and (max-width: 650px) { 

	.paddingLeft_Cancel {
		padding-left: 0.9375em;
	}

}


@media screen and (max-width: 648px) {
    body, html {
		padding:0;
		margin:0;
    }
	
	body, html {
        background: url('../images/bg_white.jpg') no-repeat;
		background-size:cover;
		background-attachment:fixed;
		height:100%;
	}
	
	.navblock{
		display:none;
	}
	
	#mobile-navigation{
		display:block;
	}
	
	h1 {
		padding-top: 102px;
	}
	
	.mobile_no_padding{
		padding-left:0;
		padding-right:0;
	}
	
	
	ul.menuSocial {
		margin-top: 20px;
	}

}





@media screen and (max-width: 648px){
	.mobile_no_padding {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 40px;
	}
}



@media screen and (max-width: 640px) {

/* widoczność lini nad naszej lokalizacji */
	hr.redLine {
		display: block;
		border: 2px solid #BF303C;
		width: 75px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin: 0 0 30px;
	}
	
	.maps {
		height: 500px;
	}

    .txtcapcha {
        float: left;
    }
	
	.halfSize {
		width: 100% !important;
	}
	
	.korespond {
		margin-bottom: 65px;
	}
	
	.fontLato.korespond {
		margin: 0 0 100px;
	}
	
}

@media screen and (max-width:560px){
	.buttonSend {
		display:block;
		float:none;
		clear:both;
		margin:13px auto 13px auto;
	}
}


@media screen and (max-width: 476px) {
  
	p.links2 {
		margin-top: 20px;
	}
	
	.txtcapcha{
		float:none;
		clear:both;
		margin:0 auto;
	}
	
	.capcha-field{
		width:130px;
		height:80px;
		float:none;
		clear:both;
		background:#fff;
		margin:0 auto;
	}
	
}


@media screen and (max-width: 452px) {

    .buttonSend {
            float: right;
    }

}


@media screen and (max-width: 345px) {

	#captcha-input {
		margin-top: 10px;
	}
 
}

@media screen and (max-width: 492px) { 
	#send {
		display: block;
		margin: 0 auto;
		float: none;
		clear: both;
	}
	
	.right {
		float: none !important;
	}
}


