body {
    color: #FFFFFF;
	margin-bottom: 50px;
    font-family: Open Sans;
}

strong {
	font-weight: bold;
}

/* social icon */

ul.menuSocial {
	margin-top: 30px;
}

ul.menuSocial li {
	list-style: none;
	float: left;
	font-size: 0;
	margin-right: 15px;
}

ul.menuSocial li:hover {
	background: none;
}



ul.menuSocial li a.facebook {
	background: url('../images/social.png') no-repeat -2px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.facebook:hover {
	background: url('../images/social.png') no-repeat -2px -22px;
}


ul.menuSocial li a.instagram {
	background: url('../images/social.png') no-repeat -22px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.instagram:hover {
	background: url('../images/social.png') no-repeat -22px -22px;
}


ul.menuSocial li a.twitter {
	background: url('../images/social.png') no-repeat -42px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.twitter:hover {
	background: url('../images/social.png') no-repeat -42px -22px;
}



ul.menuSocial li a.linkedIn {
	background: url('../images/social.png') no-repeat -62px -1px;
	display: block;
	width: 20px;
	height: 20px;
}

ul.menuSocial li a.linkedIn:hover {
	background: url('../images/social.png') no-repeat -62px -22px;
}


ul.menuSocial li a.google_plus {
	background: url('../images/social.png') no-repeat -82px -1px;
	display: block;
	width: 22px;
	height: 20px;
}

ul.menuSocial li a.google_plus:hover {
	background: url('../images/social.png') no-repeat -82px -22px;
}


ul.menuSocial li a.youTube {
	background: url('../images/social.png') no-repeat -106px -1px;
	display: block;
	width: 20px;
	height: 20px;

}

ul.menuSocial li a.youTube:hover {
	background: url('../images/social.png') no-repeat -106px -22px;
}


/* <!-- social icon --> */



.offer {
}

.offer h1, .offer h2, .offer h3 {
	text-align: left !important;
	margin: 0 !important;
	
	border-left: none;
	padding: 0 !important;
	float: none;
	width: 100%;
}

.offer h2 {
	font-size: 28px;
}

.offer h3 {
	font-size: 22px;
}

.offer ul li {
	line-height: auto;
    text-align: left;
	
	list-style: inside none disc;
}

.offer ul li:hover {
	background: none;
	color: white;
}  

.offer ul,
.offer ol {
	padding-left: 18px;
	padding-bottom: 0;
	font-size: 15px;
	margin-bottom: 10px;
}

.offer em, .offer i {
    font-style: italic;
    line-height: inherit;
}

.offer p {
	margin-bottom: 10px;
	font-size: 15px;
}


#wrap{
	position:fixed;
	z-index:-1; 
	top:0; 
	left:0; 
	background-color:black;


    min-width: 100%;
  min-height: 100%;

  background-size: cover;
}
#wrap img.bgfade{
	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1
}

html, body {
    height: auto;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
	color: #ffcc00;
}

.bgTop {
    background-image: url("../images/background.jpg") !important;

    background-position: center 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover;
	
	color: #FFFFFF;
}

h1 {
    font-size: 54px;
    line-height: 54px;
    padding-left: 20px;
    border-left: 1px solid #ffffff;
    margin: 20px 0 120px;
    float: left;
    width: 75%;
}

/* navi*/

nav {
    float: right;
    position: absolute;
    right: 10px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    color:#fff !important;
}

ul {
    padding: 0;
    list-style: none;
    padding-bottom: 20px;
}

ul li{
    text-align: right;
    line-height: 26px;
}

ul li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

ul li:hover{
    background: url("../images/menu_bg_transp.png") repeat;
    color: #ffcc00;
}

ul li ul li:hover,
ul li ul li a:hover {
    background: none;
    color: #ffcc00;
    text-decoration: none;
}

ul li ul{
    display: none;
    width: 290px;
	padding: 60px 10px 10px;
}

ul li:hover ul{
    display: block; /* display the dropdown */
}

a.hamburger {
	background: url('../images/ham.png') no-repeat;
	margin: 20px;
	width: 31px;
	height: 23px;
	float: right;
}

a.hamburger:hover {
	background: url('../images/ham_h.png') no-repeat;
}

/* <!-- navi --> */


h2 {
    font-size: 24px;
    margin: 85px 0 20px;
    padding-bottom: 16px;
    text-align: center;
}

.borderLeft {
    border-left: 1px solid #FFFFFF;
    padding-left: 20px;
}

.borderLeftFormularz {
	border-left: 1px solid #FFFFFF;
    padding-left: 32px;
}

.row.v4 h2 {
	margin: 10px 0 20px;
}

.row.second {
    margin: 120px 0 0 0;
}

p.header_column {
	font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 35px;
}

.paddingLeftNone {
    padding-left: 0;
}

.center {
	text-align: center;
}


p.about_factory {
	font-size: 15px;
    font-weight: 400;
    white-space: pre-wrap;
}

.fullSize {
	padding: 0;
}

/* --- */

.lineHeight {
    line-height: 27px;
}

p.Adress {
	font-size: 15px;
	margin-bottom: 12px;
    font-weight: 400;
}

p.Adress span {
	font-size: 15px;
    font-weight: 400;
	display: inline-table;
}

span.widthLeft {
   
}


span.newLine {
    display: block !important;
	text-align: left !important;
}

/* --- */

p.Phone,
p.Email,
p.Nip,
p.Facebook {
	font-size: 15px;
	margin-bottom: 8px;
    font-weight: 400;
}

p.Phone span {
	font-size: 15px;
    font-weight: 400;
}

/* --- */

p.Email span {
	font-size: 15px;
    font-weight: 400;
}

/* --- */

p.Nip span{
	font-size: 15px;
    font-weight: 400;
}

/* --- */

p.Facebook span {
	font-size: 15px;
    font-weight: 400;
}

/* linki */


p.links1 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 220px;
	float: left;
	margin-right: 20px;
}

a.block4_Korespond {
	background: url("../images/dane-kontaktowe-ico.png") no-repeat scroll 14px 6px rgba(0, 0, 0, 0);
    color: #e4e4e9;
    display: block;
    font-size: 14px;
    padding: 9px 25px 9px 40px;
    text-decoration: none;
}

p.links2 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	background-color:rgba(255,255,255,.1);
	width: 190px;
	float: left;
}

a.block4_Form {
    color: #e4e4e9;
    display: block;
    font-size: 14px;
    padding: 9px 30px 9px 40px;
    text-decoration: none;
}


.korespond {
	margin: 85px 0;
}

.korespond img {
	margin-bottom: 22px;
}

.overflow {
    overflow: hidden;
    clear: both;
    margin-top: 80px;
}


/* --- */

/*
.borderWhite {
    border: 1px solid #ffffff;
    padding: 25px;
}
*/

.borderWhite {
	border: 1px solid #ffffff;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80%;
	display: block;
}



/*
.maps {
	height: 400px;
    width: 100%;
}
*/

#mapFrame {
	width: 100%;
	height: 100%;
}

.maps {
	height: 370px;
	width: 100%;
}

.maps img { /* fundation google maps fix */
    max-width: none;
}

#googleMap {
	width: 100%;
	height: 100%;
}

.link_container {
	margin-top: 30px;
	overflow: hidden;
}

.gm-style-iw {
	color: black;	
}


/* PopUp */

span.name1,
span.name2,
span.name3 {
	font-size: 20px;
}

.fontLato {
	font-size: 20px;
}
.fontLato p {
	margin-bottom: 8px;
}


#adres-do-korespondencji-szczegoly {
	width: auto;
/*	margin: 100px auto; */
}

#adres-do-korespondencji-szczegoly .panel {
	margin-left: 20%;
}

p.addresImg {
    background: url('../images/korespo-ico.png')no-repeat  0 6px;
}

p.addresImg span {
    padding-left: 45px;
}


/* formularz */

ul.errors li {
	float: left !important;
	color: red;
	text-align: left;
}

ul.errors li:hover {
	background: none !important;
	color: red;
}

.paddingLeft_Cancel {
	padding-left: 0;
}

#formularz-do-korespondencji-szczegoly {
    max-width: 555px;
}

/*
.textInput, #captcha-input, textarea {
    color: rgba(167, 167, 167, 0.9);
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    margin-bottom: 20px;
} */

.textInput, #captcha-input, textarea {
	color: rgba(167, 167, 167, 0.9);
	font-size: 0.9em;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 20px;
}

/*
#captchaContainer pre {
    border: 1px solid #c2c2c2;
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 76%;
    margin: 0 1em 0 0;
}*/

#captchaContainer pre {
	border: 1px solid #c2c2c2;
	color: #c1c1c1;
	float: left;
	font-family: monospace;
	font-size: 10px;
	letter-spacing: -2px;
	line-height: 76%;
	margin: 0 1em 0 0;
	height: 54px;
}



/*
.textInput {
    background: none;
    border: 1px solid #C2C2C2;
    width: 100%;
    height: 40px;
}*/

.textInput {
	background: none;
	border: 1px solid #C2C2C2;
	width: 100%;
	height: 40px;
	font-family: 'Open Sans';
}

textarea {
    background: none;
    resize: none; 
    border: 1px solid #C2C2C2;
    width: 100%;
    height: 180px;
    padding: 1em;
}

#captcha-input {
    background: none;
    border: 1px solid #C2C2C2;
    width: 86px;
    height: 54px;
    text-align: center;
}

#captchaContainer img {
    opacity: 0.6;
    float: left;
    margin: 0 1em 0 0;
}

.pnlSend .large-8.medium-8.columns,
.pnlSend .large-4.medium-4.columns {
    margin-top: 0px;
}

.pnlSend p {
	font-size: 20px;
	padding-top: 14px;
}

.pnlSend p span {
	font-size: 20px;
	padding-right: 10px;
}

.second {
   /* margin-left: 17px;  */
}


.halfSize {
	width: 600px !important;
	margin: 0 auto !important;
}


.pnlSend {
    width: 100%;
    clear: both;
    overflow: hidden;
}

/*
#send {
	cursor: pointer;
	float: right;
    margin-top: 6px;

	text-transform: lowercase;
	border: none;
	background-color: #FFCC00;
	color: black;
	cursor: pointer;
	font-size: 17px;
	margin-bottom: 20px;
	width: 145px;
	height: 40px;
}*/

#send {
	cursor: pointer;
	float: right;
	margin-top: 6px;
	border: none;
	background:url('../images/btn_send_bg.png') no-repeat;
	color: black;
	cursor: pointer;
	font-size: 17px;
	margin-bottom: 20px;
	width: 145px;
	height: 40px;
	font-family:'Open Sans', sans-serif;
}

ul.errors {
    clear: both;
    list-style: none;
    margin: -0.5em 0 1em 0;
    color: #BF303C;
    font-size: 0.9em;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
}


.buttonSend {
	border: none;
	background-color: #FFCC00;
	color: black;
	cursor: pointer;
	font-size: 17px;
	margin-bottom: 20px;
	width: 145px;
	height: 40px;
}

form {
	
}

/* media queries */



@media screen and (max-width: 960px) {

	#adres-do-korespondencji-szczegoly .panel {
		margin-left: 10%;
	}

}


@media screen and (max-width: 950px) {
    #formularz-do-korespondencji-szczegoly {
        width: 100%;
    }

}



@media screen and (max-width: 660px) {

	#send {
		display: table-caption;
		margin: 0 auto;
		float: none !important; 
		clear: both;
	}
	
	.right {
		float: none !important;
	}
}


@media screen and (max-width: 660px) {
   
	#captcha-input {
		margin-top: 10px;
	}
	
}


@media screen and (max-width: 650px) { 


	#captcha-input {
		margin-top: 0px;
	}
	
	
	#send {

		float: right;
		margin-top: 6px;
		display: block;

	}


	.paddingLeft_Cancel {
		padding-left: 0.9375em;
	}

    .borderLeft,
    h1,
	.borderLeftFormularz	{
        border-left: none;
    }
	
	.row.second {
		margin: 30px 0 0;
	}
	
	.marginTop {
		margin-top: 35px !important;
	}


	p.header_column {
		line-height: 35px;
	}
	
	h1 {
		margin: 20px 0 60px;
	}
	
	.borderWhite {
		width: 93%;
	}

}


@media screen and (max-width: 948px) {
   
	#send {
		display: table-caption;
		margin: 0 auto;
		float: none !important; 
		clear: both;
	}
	
	.right {
		float: none !important;
	}
}


@media screen and (max-width: 640px) {

/* widoczność lini nad naszej lokalizacji */
	hr.redLine {
		display: block;
		border: 2px solid #BF303C;
		width: 75px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin: 0 0 30px;
	}

	.paddingLeftNoneFormularz {
		padding-left: 0.9375em;
		
		width: 100%;
	}
	
    .buttonSend {
        float: left;
    }
	
	.maps {
		height: 500px;
	}

    .txtcapcha {
        float: left;
    }
	
	.halfSize {
		width: 100% !important;
	}
	
	.korespond {
		margin-bottom: 65px;
	}
	
	.fontLato.korespond {
		margin: 0 0 100px;
	}

     .marginTop {
        margin-top: 80px;
    }

    .paddingLeftNoneSecond {
        padding-left: 0;
    }
	
	.borderLeftFormularz	{
        padding-left: 15px;
    }
	
}


@media screen and (max-width: 635px) {
   
	#send {
		display: block;
		margin: 0 auto;
		float: right !important; 
	}
	
	.right {
		float: right !important;
	}
}


@media screen and (max-width: 546px) {
   
	#send {
		display: table-caption;
		margin: 0 auto;
		float: none !important;
		clear: both;
	}
	
	.right {
		float: none !important;
	}
}


@media screen and (max-width: 476px) {
  
	p.links2 {
		margin-top: 20px;
	}

    h1 {
        font-size: 40px;
    }
}


@media screen and (max-width: 452px) {

    .buttonSend {
            float: right;
    }

}


@media screen and (max-width: 345px) {
   
	#captcha-input {
		margin-top: 10px;
	}

}

@media screen and (max-width:895px) and (min-width:641px){
	#send{
		display: block;
		clear: both;
	}
}

@media screen and (max-width:485px){
	#send{
		display: block;
		clear: both;
	}
}

