body {
}


/* globalne */
strong {
    font-weight: bold;
}

.row {
    max-width: 100%;
}

section {
	padding-left: 14%;
    padding-right: 10%;
	
	
	
	/* dopisane */
	position: absolute;
}

.large-2 {
	padding-right: 0px;
}


.linkToSection.formLink {
    padding-right: 10px;
}


/* menuHeader */

.menuHeader {
    margin-top: 185px;
	margin-left: 10px;
	
	
	/* dopisane */
	width: 102.8%;
}


.sect_daneKontaktowe a {
	color: white;
	text-decoration: underline;
}

ul.menuHeader li a {
	border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
	display: block;
    text-transform: uppercase;
	font-family: 'Lato-Regular';
	color: #323232;
	
	
	
	/* padding: 12px 0 12px 15px; */
	
	padding: 12px 5px 12px 15px;
	
	
	max-width: 249px;
}

.current {
    color: #ffffff !important;
}

.noPaddingRight {
    padding-right: 0;
}

.noPaddingLeft {
	padding-left: 0;
}

/* section */


.active {
   display: block;
/*	z-index: 3;	 */
}

section {
   display: none; 
   /* z-index: 2;	*/
}


.sect_oNas {
    background: #25C389;
    width: 100%;
    min-height: 100vh;
}

.sect_daneKontaktowe {
    background: #FFB900;
    width: 100%;
    min-height: 100vh;
}

.sect_oferta {
    background: #DE6262;
    width: 100%;
    min-height: 100vh;

}

.sect_lokalizacja {
    background: #1691BD;
    width: 100%;
    height: 100vh;

}

.sect_formularzKontaktowy {
    background: #166BA2;
    width: 100%;
    min-height: 100vh;
}

.row h1 {
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 30px;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
}

.row h2 {
    clear: both;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 42px;
    text-transform: uppercase;
}

.row h3 {
    clear: both;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 22px;
    text-transform: uppercase;
}

.box {
    border-color: #ffffff;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    padding-bottom: 33px;
}

p.titleSection {
    border-left: 2px solid #ffffff;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 24px;
    line-height: 24px;
    margin-left: 0px;
    padding-left: 10px;
    text-transform: uppercase;
	
	font-weight: bold;
}

p.titleSection span {
    display: block;
    font-family: "Lato-Black";
    font-size: 34px;
    line-height: 30px;
    padding-top: 6px;
}

p.txtContent, #offer p, #offer ul, #offer ol {
    clear: both;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 16px;
    line-height: 30px;
    padding: 40px 0 0 10px;
    width: 80%;
}


.sect_oferta  #offer {
	text-align: left;
	color: white;
}

.sect_oferta  #offer h1 {
	line-height: 28px;
} 

.sect_oferta  #offer h2 {
	line-height: 22px;
}  

.sect_oferta  #offer h3 {
	line-height: 18px;
}  

.sect_oferta  #offer h1, .sect_oferta #offer h2, .sect_oferta #offer h3 {
	text-align: left !important;
	margin: 0 !important;
	padding: 0 !important; 
}

.sect_oferta #offer{
	margin-top: 40px;
}
.sect_oferta #offer ul,
.sect_oferta #offer ol {
	padding-left: 18px;
}


em, i {
    font-style: italic;
    line-height: inherit;
}


.sect_oferta p.txtContent {
    clear: both;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    width: 80%;
}

/* menu */

ul.menuHeader li {
    list-style: none;
    border-bottom: #E5E5E5;
    display: block;
    /* width: 103%; */
	width: 95.9%;
	z-index: 999;
	position: relative;
}

ul.menuHeader li:nth-child(1)  {
	border-right: 6px solid #25C389;
	
	
	border-bottom: medium none;
}

ul.menuHeader li:nth-child(2)  {
	border-right: 6px solid #FEBA00;
	
	
	border-bottom: medium none;
}

ul.menuHeader li:nth-child(3)  {
	border-right: 6px solid #DE6262;
	
	
	border-bottom: medium none;
}

ul.menuHeader li:nth-child(4)  {
	border-right: 6px solid #1792BE;
	
	
	
	border-bottom: medium none;
}

ul.menuHeader li:nth-child(5)  {
	border-right: 6px solid #1768A0;
	
	
	border-bottom: medium none;
}


ul.menuHeader li:nth-child(1) a:hover {
	background-color: #24c288 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #1a8861;
    margin-left: 6px;
    padding-left: 10px;
	color: #ffffff;
	padding-right: 4px;
}

ul.menuHeader li:nth-child(2) a.linkToSection:hover {
    background-color: #ffb900 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #cb9501;
    margin-left: 6px;
    padding-left: 10px;
	color: #ffffff;
	padding-right: 4px;
}


ul.menuHeader li:nth-child(3) a.linkToSection:hover {
    background-color: #de6262 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #ac4d4b;
    margin-left: 6px;
    padding-left: 10px;
	color: #ffffff;
	padding-right: 4px;
}

ul.menuHeader li:nth-child(4) a.linkToSection:hover {
    background-color: #1691bd !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #0f5c78;
    margin-left: 6px;
    padding-left: 10px;
	color: #ffffff;
	padding-right: 4px;
}

ul.menuHeader li:nth-child(5) a.linkToSection:hover {
    background-color: #166ba2 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #092d43;
    margin-left: 6px;
    padding-left: 10px;
	color: #ffffff;
	padding-right: 4px;
}



    ul.menuHeader li a {
        text-decoration: none;
    }

ul.menuHeader li:nth-child(1) a.linkToSection.current {
    background-color: #24c288 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #1a8861;
    margin-left: 6px;
	padding-left: 9px;
	
	
	
	border-bottom: medium none #e5e5e5;
}

ul.menuHeader li:nth-child(2) a.linkToSection.current {
    background-color: #ffb900 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #cb9501;
    margin-left: 6px;
	padding-left: 9px;
	
	
	
	border-bottom: medium none #e5e5e5;
}

ul.menuHeader li:nth-child(3) a.linkToSection.current {
    background-color: #de6262 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #AC4D4B;
    margin-left: 6px;
	padding-left: 9px;
	
	
	
	
	border-bottom: medium none #e5e5e5;
}

ul.menuHeader li:nth-child(4) a.linkToSection.current {
    background-color: #1691bd !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #0F5C78;
    margin-left: 6px;
	padding-left: 9px;
	
	
	
	border-bottom: medium none #e5e5e5;
}

ul.menuHeader li:nth-child(5) a.linkToSection.current {
    background-color: #166ba2 !important;
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #092D43;
    margin-left: 6px;
	padding-left: 9px;
	
	
	
	border-bottom: medium none #e5e5e5;
}


ul.menuSocial {
/*	overflow: hidden;
	position: fixed;
	bottom: 20px; */
	
	
	
	/* dopisane */
	bottom: 20px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 95%;
}

ul.menuSocial li  {
/*	float: left; */
	list-style: none;
	margin-right: 2px;
	
	
	/* dopisane */
	display: inline-block;
}

ul.menuSocial li:last-child {
	margin-right: 0;
}

ul.menuSocial li a.facebook {
	background: url('../images/ikony_07_NEW.png') -14px -13px no-repeat;
	width: 28px;
	height: 28px;
	display: block;
	font-size: 0;
	

}

ul.menuSocial li a.facebook:hover {
	background: url('../images/ikony_07_NEW.png') -14px -53px no-repeat;
}



ul.menuSocial li a.twitter {
	background: url('../images/ikony_07_NEW.png') -176px -13px no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	font-size: 0;
}

ul.menuSocial li a.twitter:hover {
	background: url('../images/ikony_07_NEW.png') -177px -53px no-repeat;
}



ul.menuSocial li a.instagram {
	background: url('../images/ikony_07_NEW.png') -97px -13px no-repeat;
	width: 28px;
	height: 28px;
	display: block;
	font-size: 0;
}

ul.menuSocial li a.instagram:hover{
	background: url('../images/ikony_07_NEW.png') -97px -53px no-repeat;
	
}


ul.menuSocial li a.google_plus {
	background: url('../images/ikony_07_NEW.png') -57px -13px no-repeat;
	width: 28px;
	height: 28px;
	display: block;
	font-size: 0;
}

ul.menuSocial li a.google_plus:hover {
	background: url('../images/ikony_07_NEW.png') -57px -53px no-repeat;
}




ul.menuSocial li a.youTube {
	background: url('../images/ikony_07_NEW.png') -136px -13px no-repeat;
	width: 28px;
	height: 28px;
	display: block;
	font-size: 0;
}

ul.menuSocial li a.youTube:hover {
	background: url('../images/ikony_07_NEW.png') -136px -53px no-repeat;
}



ul.menuSocial li a.linkedIn {
	background: url('../images/ikony_07_NEW.png') -217px -13px no-repeat;
	width: 28px;
	height: 28px;
	display: block;
	font-size: 0;
}

ul.menuSocial li a.linkedIn:hover {
	background: url('../images/ikony_07_NEW.png') -217px -53px no-repeat;
}


.navigation {
	background: #ffffff none repeat scroll 0 0;
    height: 100vh;
    position: relative;
    z-index: 4;
}



/* menu responsive */

#mobile-navigation {
    background: #ffffff;
	opacity: 0.95;
    box-sizing: border-box;
    display: none;
    height: 40px;
    overflow: hidden;
    padding: 0 3px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#mobile-navigation .burger {
	background: url('../images/ikony_07_NEW.png') no-repeat scroll -256px -62px;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 13px 0 15px;
    overflow: hidden;
    width: 24px;
}


#mobile-navigation ul.menuHeader li:nth-child(1) a.linkToSection {
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #1a8861;
    margin-left: 6px;
}

#mobile-navigation ul.menuHeader li:nth-child(2) a.linkToSection {
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #cb9501;
    margin-left: 6px;
}

#mobile-navigation ul.menuHeader li:nth-child(3) a.linkToSection {
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #AC4D4B;
    margin-left: 6px;
}

#mobile-navigation ul.menuHeader li:nth-child(4) a.linkToSection {
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #0F5C78;
    margin-left: 6px;
}

#mobile-navigation ul.menuHeader li:nth-child(5) a.linkToSection {
    border-left: 2px solid #ffffff;
    box-shadow: -6px 0 0 #092D43;
    margin-left: 6px;
}




/* <!-- menu responsive --> */






/* mapa */

#mapFrame {
    width: 100%;
    border: 2px solid #256b84;
    height: 235px;
}

.maps {
/*	height: 50%; */
    margin-left: -120px;
    margin-top: 60px;
	margin-bottom: 50px;
    width: 120%;
	
}

#googleMap {
    height: 235px;
    width: 100%;
	border: 2px solid #256B84;
}


section a.linkToSection {
	background: rgba(0, 0, 0, 0) url("../images/strzalki_NEW.png") no-repeat scroll 90px -27px;
    bottom: 20px;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 16px;
	line-height: 16px;
    height: 25px;
    margin: 20px;
    padding-right: 57px;
    position: fixed;
	padding-top: 6px;
    right: 20px;
    text-align: right;
	text-decoration: none;
}


.linkToSection.linkMap {
	bottom: 0px;
}


section a.linkToSection.last {
	background: rgba(0, 0, 0, 0) url("../images/strzalki_NEW.png") no-repeat scroll 100px 0px;
    bottom: 20px;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 16px;
	line-height: 16px;
    height: 25px;
    margin: 20px;
    padding-right: 57px;
    position: fixed;
	padding-top: 6px;
    right: 20px;
    text-align: right;
	text-decoration: none;
}

section a.linkToSection span {
	display: block;
}



/* part */
.part {
	float: left;
	width: 30%;
	color: #ffffff;
	font-size: 16px;
	
	
	/* dopisane */
	margin-top: 40px;
}

.container {
	overflow: hidden;
	clear: both;
	margin-top: 40px;
}

p.titleAdres {
	display: block;
	font-family: "Lato-Bold";
}

p.ulica {
	font-family: "Lato-Regular";
}

p.kod {
	font-family: "Lato-Regular";
}

p.telefon {
	font-family: "Lato-Regular";
}

p.telefon span {
	font-family: "Lato-Bold";
}


p.email {
	font-family: "Lato-Regular";
}

p.email a {
	color: #ffffff;
}

p.email span {
	font-family: "Lato-Bold";
}

p.nip {
	font-family: "Lato-Regular";
}

p.nip span {
	font-family: "Lato-Bold";
}

p.adresKorespondencja {
	font-family: "Lato-Regular";
}

p.adresKorespondencja span {
	display: block;
}

/* <!-- part --> */



/* form */

form {
	margin-top: 60px;
	overflow: hidden;
}

.textInput {
	width: 75%;
	height: 50px;
	
	padding-left: 10px;
	
	
	font-family: Lato-Regular;
    font-size: 12px;
}


.textInput.news {
	width: 86%;
	margin-bottom: 30px;
}

.textarea {
    height: 120px;
    margin-top: 30px;
    width: 75%;
}

textarea {
    height: 120px;
    min-height: 50px;
    width: 100%;

	font-family: Lato-Regular;
    font-size: 12px;
	padding-left: 10px;
    padding-top: 10px;
}

form .large-6 {
	width: 43%;
	margin-bottom: 30px;
}


#captchaContainer pre {
    border: 2px solid #ffffff;
	background: #ffffff;
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 60%;
    margin: 0 1em 0 0;
}

#captcha-input {
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #c1c1c1;
    height: 46px;
    text-align: center;
    width: 86px;
}

.left {
    float: left !important;
    margin-left: 16px;
    margin-top: 30px;
}

.pnlSend {
	clear: both;
    overflow: hidden;
    width: 76%;
}

#send {
	border: 2px solid #ffffff;
    color: #c1c1c1;
    height: 46px;
	background: transparent;
	cursor: pointer;
    margin-top: 30px;
	padding: 0 40px;
}

.rightSend {
    float: right;
}

ul.errors {
	list-style: none;
}

ul.errors li {
	color: red;
}

/* <!-- form --> */





/* Media Queries */
	
@media screen and (min-width: 2000px) {

	.maps {
		width: 110%;
	}

}

@media screen and (max-width: 1300px) {

	.maps {
		margin-left: -100px;
	}
}

@media screen and (max-width: 1150px) {

	.maps {
		margin-left: -80px;
	}
	
	.part {
		width: 45%;
	}

}
	
	
@media screen and (max-width: 983px) {

	.rightSend {
		float: none;
		margin-left: 16px;
	}
}

	
	
@media screen and (max-width: 768px) {
    .large-10 {
        width: 100%;
    }
	
	.menuHeader {
		margin-top: 0;
	}
	
	.maps {
		margin-left: -60px;
		width: 118%;
	}
	
	ul.menuSocial {
		position: relative;
	}
	
	.medium-3 {
		width: 100%;
	}
	
	.part {
		width: 50%;
	}
	
	.navblock {
		display: none;
	}
	
	#mobile-navigation {
		display: block;
	}
	
	section .linkToSection {
		display: none;
	}
	
	ul.menuSocial {
		float: right;
		height: 46px;
		margin: 20px 0 0 30px;
		position: absolute;
		right: 20px;
		text-align: right;
		top: -31px;
		width: auto;
	}
	
	p.txtContent {
		width: 100% !important;
	}
	
	section {
		padding-left: 10%;
	}
	
	.sect_oNas,
	.sect_daneKontaktowe,
	.sect_oferta,
	.sect_lokalizacja,
	.sect_formularzKontaktowy {
		padding-bottom: 50px;
	}
	
	form .large-6 {
		width: 100%;
	}
	
	.textInput {
		width: 86%;
	}
	
	
	ul.menuHeader li:nth-child(1),
	ul.menuHeader li:nth-child(2),
	ul.menuHeader li:nth-child(3),
	ul.menuHeader li:nth-child(4),
	ul.menuHeader li:nth-child(5) {
		border-right: none;
	}
	
	.textarea {
		width: 86%;
	}
	
	.rightSend {
		float: right;
	}
	
	.pnlSend {
		width: 87%;
	}
	
	
}



@media screen and (max-width: 640px) {
	.rightSend {
		float: none;
	}
}



@media screen and (max-width: 600px) {
	
	.maps {
		margin-left: -30px;
		width: 106%;
	}
	
	.part {
		width: 100%;
		clear: both;
	}
	
	.corespond {
		margin-top: 40px;
	}
	
	.sect_lokalizacja  {
		min-height: 100vh !important;
		height: auto;
	}
	
	.maps {
	/*	height: 400px; */
	}
	
	.row h1 {
		font-size: 26px;
	}
	
}


@media screen and (max-width: 450px) {
	
	.maps {
		margin-left: -30px;
		width: 120%;
	}
	
	p.titleSection span {
		font-size: 30px;
	}
	
	.textInput,
	.textInput.news,
	.textarea	{
		width: 100%;
	}

}


@media screen and (max-width: 436px) {

	#captcha-input {
		margin-top: 10px;
	}
	
}


@media screen and (max-width: 350px) {
	
	.maps {
		margin-left: -24px;
		width: 120%;
	}
}




a{
	text-decoration: none!important;
}

.sect_oNas p {
    white-space: pre-wrap;
}