/* menu */
.rmm.graphite .rmm-main-list li.current a  {
    background: #ffc40e none repeat scroll 0 0;
    color: #000000;
	transition: background 0.5s;
}
.ha-header-small{
	position: fixed;
	width: 100%;
	z-index:9999;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	background: #0b0f16;
	transition: 1s;
	border-top: 6px solid #FFC40E;
	top:-10px;
	}
.paddin-box{
	margin-top: 45px;
}
/* style globalne */
body{
	margin: 0 auto;
	background: #131924!important;
}
h1{
	color: #ffc40e;
	font-family: Lato-Bold;
	font-size: 60px;
}
h2{
	color: #ffc40e;
	font-family: Lato-Bold;
	font-size: 40px;
	text-align: center;
	margin: 35px 0;
}
h3{
	color: #fff;
	font-size: 18px;
	font-family: Lato-Light;
	font-weight: bold;
}
h4{
	font-size: 24px;
	color: #fff;
}
p{
	font-family: Lato-Light;
	font-size: 21px;
	line-height: 25px;
}
p > a {
    color: #818181 !important;
}
/* Section1 */
#section-1{
	border-top: 6px solid #ffc40e;
	background: url(../images/tlo_top_obraz.jpg) no-repeat center top;
	width: 100%;
	min-height: 800px;
	padding: 0 0 30px;
}
#section-1 h1{
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	margin: 148px 0 0;
}
#section-1 p{
	color: #fff;
	margin: 129px 0 0;
	text-align: center;
}
#section-1 .scroll_down1{
	text-align: center;
	margin: 125px 0 0;
	cursor: pointer;
}


/* Section2 */
#section-2{
	padding: 100px 0 48px;
	position: relative;
	overflow: hidden;
}
#section-2 h2 > span{
	color: #fff;
	font-family: Lato-Light;
}
#section-2 h3{
	margin: 0;
}
#section-2 p{
	font-size: 18px;
	color: #818181;
	margin: 0;
}
#section-2 img {
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 25px;
}
#section-2  a{
	color: transparent;
	text-decoration: none;
}
.bg_samolot{
	margin-left: 15px;
}
.social{
	width: 29px;
	height: 29px;
	background: url(../images/szablon_ikony_09.png);
	float: left;
	margin-right: 8px;
}
.social.social5{
	margin-right: 0;
}
.social1 {
    background-position: 550px 192px;
    border: 1px solid #ffffff;
}
.social1:hover {
    background-position: 551px 143px;
	border: 0;
}
.social2 {
    background-position: 494px 192px;
    border: 1px solid #ffffff;
}
.social2:hover {
    background-position: 495px 143px;
	border: 0;
}
.social3 {
    background-position: 437px 192px;
    border: 1px solid #ffffff;
}
.social3:hover {
    background-position: 438px 143px;
	border: 0;
}
.social4 {
    background-position: 380px 192px;
    border: 1px solid #ffffff;
}
.social4:hover {
    background-position: 381px 143px;
	border: 0;
}
.social5 {
    background-position: 324px 192px;
    border: 1px solid #ffffff;
}
.social5:hover {
    background-position: 325px 143px;
	border: 0;
}
.social6 {
    background-position: 268px 192px;
    border: 1px solid #ffffff;

}
.social6:hover {
    background-position: 269px 143px;
	border: 0;
}
#social_ico {
    margin: 32px 0 0;
}
.margin-box{
	padding-top: 30px;
}
.mail_box {
    float: left;
	font-family: Lato-Light;
	margin-top: 22px;
	}
.mail_box p {
    color: #ffc40e!important;
    font-family: Lato-Bold;
    font-size: 40px!important;
    margin: 8px 0 0!important;
    padding: 0;
	line-height: 40px;
}
.mail_box p span{
	font-family: LatoWeb;
		color: #ffc40e;
}
.mail_box > a {
    color: #ffffff!important;
    text-decoration: none;
	font-size: 18px;
	}
.samolot {
    background: #ffc40e none repeat scroll 0 0;
    float: left;
    padding: 26px 52px;
	margin-right: 42px;
	position: relative!important;
	top:0!important;
	left:0!important;
	margin-left:0!important;
	display: block!important;
}
.margin-box2{
	padding-top: 86px;
}

/* Section3 */
.min-height_box{
	min-height: 200px;
}
#section-3{
	padding-top: 100px;
	padding-bottom: 30px;
}
#section-3 p{
	color: #818181;
}
#section-3 h2 > span{
	color: #fff;
	font-family: Lato-Light;
}

/* Section4 */
#section-4{
	position: relative;
	overflow: hidden;
	padding-top: 140px;
}
#section-4 h2 > span{
	color: #fff;
	font-family: Lato-Light;
}
.olowek {
    left: 50%;
    margin-left: 233px;
    position: absolute;
    top: -41px;
}
.textInput{
	margin-bottom: 15px;
}
.textInput[name="email"] {
    border: 0 none;
    float: left;
    padding: 14px 10px 15px 55px;
    width: 100%;
font-family: Lato-Light;
	background: url(../images/name.jpg) no-repeat left center #fff;
}
.textInput[name="email"]:focus{
	background: url(../images/name.jpg) no-repeat left center #fff4d4;
}
.textInput[name="phone"] {
    border: 0 none;
    float: left;
    padding: 14px 10px 15px 55px;
    width: 100%;
	background: url(../images/number.jpg) no-repeat left center #fff;
font-family: Lato-Light;
}
.textInput[name="phone"]:focus{
	background: url(../images/number.jpg) no-repeat left center #fff4d4;
}
.textInput[name="subject"] {
    border: 0 none;
    float: left;
    padding: 14px 10px 15px 55px;
	width: 100%;
   	background: url(../images/ms.jpg) no-repeat left center #fff;
font-family: Lato-Light;
}
.textInput[name="subject"]:focus{
	background: url(../images/ms.jpg) no-repeat left center #fff4d4;
}
textarea{
    border: 0 none!important;
    float: left;
	padding: 14px 10px 15px 55px;
    width: 100%;
	height: 100px!important;
    min-height: 148px!important;
	background: url(../images/ms_text.jpg) no-repeat left center #fff;
	margin-bottom: 17px;
font-size: 13px;
font-family: Lato-Light;
color: #000;
}
textarea:focus{
	background: url(../images/ms_text.jpg) no-repeat left center #fff4d4;
}
#captcha-input{
    border: 0 none;
    float: right;
    padding: 14px 10px 15px 55px;
	width: 224px;
   	background: url(../images/st.jpg) no-repeat left center #fff;
	margin-top: 15px;
font-family: Lato-Light;
}
#captcha-input:focus{
   	background: url(../images/st.jpg) no-repeat left center #fff4d4;
}
#send {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    float: right;
    margin: 15px auto 0;
    padding: 12px 0;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 224px;
}
#send:hover {
    background: #ffc40e none repeat scroll 0 0;
}
pre {
    color: #c1c1c1;
    float: left;
    font-family: monospace;
    font-size: 10px;
    letter-spacing: -2px;
    line-height: 60%;
    margin: 16px 1em 0 0;
}
.errors {
    margin: -1px;
    padding: 0;
    text-align: center;
}
.errors > li {
    color: #ff0000;
    font-family: Lato-Light;
    list-style: outside none none;
    padding: 0;
	clear: both;
	margin: 10px 0;
float: left;
}
/* Section5 */
#section-5{
	padding-top: 100px;
}
#section-5 h2 > span{
	color: #fff;
	font-family: Lato-Light;
}
#mapFrame {
	width: 100%;
	height: 100%;
}
.maps {
	height: 512px;
    width: 100%;
	margin-top: 22px;
}
.maps img {
    max-width: none;
}

#googleMap {
	width: 100%;
	height: 100%;
}

/* Section6 */
#section-6{
	background: #FFC40E;
	padding: 40px 0;
}

#section-6 h1{
    color: #ffffff;
    font-family: Lato-Light;
    font-size: 21px !important;
    letter-spacing: 8px;
	text-align: center;
}

/* Media query */

/* width 797px */
@media (max-width:640px) {

}

/* width 797px */
@media (max-width:797px) {
	#section-1 h1{
		font-size: 50px;
	}
	#section-2 img{
		display: none;
	}
	.olowek{
		display: none;
	}

}


/* width 540px */
@media (max-width:540px) {
	#section-1 h1{
		font-size: 30px;
		line-height: 30px;
	}	
	#section-1 p{
		margin: 70px 0 0;
	}
	#section-1 .scroll_down1{
		margin: 60px 0 0;
	}
	
	#section-1, #section-2,#section-3, #section-4, #section-5, #section-6{ padding-bottom: 0 !important;
    padding-top: 25px !important;}
	.margin-box2{margin-bottom: 0!important;}
	.margin-box3{padding-top: 30px;}
	

	
	
}


/* width 561px */
@media (max-width:561px) {
	.samolot{
		position: relation!important;
		left: 50%!important;
		float: none!important;
		margin-left: -100px!important;
	}
	.bg_samolot {
		background: #FFC40E !important;
		width: 100% !important;
	}
	.mail_box{
		text-align: center;
		float: none;
	}
		#send{margin: 15px auto 0; display: block; float: none;}
}









/* oferta */
.offerContent p{
color: #ffffff!important;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	margin: 0 0 15px 0;
}
.offerContent p em{
 color: #ffffff;
    font-family: Lato-Light;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    text-decoration: none;
}
.offerContent em{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	text-decoration: underline;
}
.offerContent span em{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	text-decoration: underline;
}
.offerContent p strong{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	font-weight: bold;
}

.offerContent p em strong {
    font-style: italic;
    font-weight: bold;
    text-decoration: none !important;
}


.offerContent strong{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	font-weight: bold;	
}

.offerContent ul, .offerContent ol {
	margin: 0 0 15px 0;
}
.offerContent ul li{
	color: #ffffff;
	text-align: left;
	font-family: Lato-Light;
	margin-left: 15px;
}
.offerContent ol li{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light;
	line-height: 25px;
	margin-left: 15px;
}
.offerContent span{
color: #ffffff;
    font-size: 18px;
	font-family: Lato-Light !important;
	line-height: 25px;
}
.offerContent h1{
  color: #ffffff;
    font-family: Lato-Light;
    font-weight: bold;
    line-height: 70px;
    margin: 30px 0;
}
.offerContent h2{
	color: #ffffff;
    font-size: 25px;
	font-family: Lato-Light;
	line-height: 25px;
	font-weight: bold;
	text-align: left;
}
.offerContent h3{
   color: #ffffff;
    font-family: Lato-Light;
    font-size: 18px;
    font-weight: bold;
}


#nav > li {
    color: #ffffff !important;
}





.about_factory {
    white-space: pre-wrap;
}



