@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light/Lato-Light-webfont.eot');
    src: url('../fonts/Lato-Light/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/Lato-Light/Lato-Light-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Light/Lato-Light-webfont.svg#Lato-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light-Italic';
    src: url('../fonts/Lato-LightItalic/Lato-LightItalic-webfont.eot');
    src: url('../fonts/Lato-LightItalic/Lato-LightItalic-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-LightItalic/Lato-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Lato-LightItalic/Lato-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato-LightItalic/Lato-LightItalic-webfont.svg#Lato-Light-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular/Lato-Regular-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular/Lato-Regular-webfont.svg#PFDinTextProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin/Lato-Thin.eot');
    src: url('../fonts/Lato-Thin/Lato-Thin?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Thin/Lato-Thin.woff') format('woff'),
         url('../fonts/Lato-Thin/Lato-Thin.ttf') format('truetype'),
         url('../fonts/Lato-Thin/Lato-Thin.svg#PFDinTextProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold/Lato-bold.eot');
    src: url('../fonts/Lato-Bold/Lato-bold?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold/Lato-bold.woff') format('woff'),
         url('../fonts/Lato-Bold/Lato-bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold/Lato-bold.svg#PFDinTextProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Black/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Black/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Black/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin/Roboto-Thin-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/fonts/Roboto-Thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/fonts/Roboto-Thin/Roboto-Thin-webfont.svg#PFDinTextProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light/Roboto-Light-webfont.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/Titilliumweb-Regular/titilliumweb-regular.eot');
    src: url('../fonts/Titilliumweb-Regular/titilliumweb-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Titilliumweb-Regular/titilliumweb-regular.woff2') format('woff2'),
         url('../fonts/Titilliumweb-Regular/titilliumweb-regular.woff') format('woff'),
         url('../fonts/Titilliumweb-Regular/titilliumweb-regular.ttf') format('truetype'),
         url('../fonts/Titilliumweb-Regular/titilliumweb-regular.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium';
    src: url('../fonts/Titilliumweb-Bold/titilliumweb-bold.eot');
    src: url('../fonts/Titilliumweb-Bold/titilliumweb-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Titilliumweb-Bold/titilliumweb-bold.woff2') format('woff2'),
         url('../fonts/Titilliumweb-Bold/titilliumweb-bold.woff') format('woff'),
         url('../fonts/Titilliumweb-Bold/titilliumweb-bold.ttf') format('truetype'),
         url('../fonts/Titilliumweb-Bold/titilliumweb-bold.svg#titillium_webbold') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Heavy/raleway-heavy-webfont.eot');
    src: url('../fonts/Raleway-Heavy/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Heavy/raleway-heavy-webfont.woff2') format('woff2'),
         url('../fonts/Raleway-Heavy/raleway-heavy-webfont.woff') format('woff'),
         url('../fonts/Raleway-Heavy/raleway-heavy-webfont.ttf') format('truetype'),
         url('../fonts/Raleway-Heavy/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: 900;
    font-style: normal;
}






@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold/dosis-bold-webfont.eot');
    src: url('../fonts/Dosis-Bold/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis-Bold/dosis-bold-webfont.woff2') format('woff2'),
         url('../fonts/Dosis-Bold/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/Dosis-Bold/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/Dosis-Bold/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Light/dosis-light-webfont.eot');
    src: url('../fonts/Dosis-Light/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis-Light/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/Dosis-Light/dosis-light-webfont.woff') format('woff'),
         url('../fonts/Dosis-Light/dosis-light-webfont.ttf') format('truetype'),
         url('../fonts/Dosis-Light/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular/dosis-regular-webfont.eot');
    src: url('../fonts/Dosis-Regular/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis-Regular/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/Dosis-Regular/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/Dosis-Regular/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/Dosis-Regular/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold/roboto-bold.eot');
    src: url('../fonts/Roboto-Bold/roboto-bold?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold/roboto-bold.woff') format('woff'),
         url('../fonts/fonts/Roboto-Bold/roboto-bold.ttf') format('truetype'),
		 url('../fonts/fonts/Roboto-Bold/roboto-bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular/roboto-regular.eot');
    src: url('../fonts/Roboto-Regular/roboto-regular?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular/roboto-regular.woff') format('woff'),
         url('../fonts/fonts/Roboto-Regular/roboto-regular.ttf') format('truetype'),
		 url('../fonts/fonts/Roboto-Regular/roboto-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Light/RobotoSlab-Light-webfont.eot');
    src: url('../fonts/RobotoSlab-Light/RobotoSlab-Light-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Light/RobotoSlab-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab-Light/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Light/RobotoSlab-Light-webfont.svg#PFDinTextProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/Light/OpenSans-Light.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/Italic/OpenSans-Italic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
@font-face {
    font-family: 'eb_garamondregular';
    src: url('../fonts/EBGaramond/EBGaramond-Regular-webfont.eot');
    src: url('../fonts/EBGaramond/EBGaramond-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EBGaramond/EBGaramond-Regular-webfont.woff2') format('woff2'),
         url('../fonts/EBGaramond/EBGaramond-Regular-webfont.woff') format('woff'),
         url('../fonts/EBGaramond/EBGaramond-Regular-webfont.ttf') format('truetype'),
         url('../fonts/EBGaramond/EBGaramond-Regular-webfont.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}








